
@media (min-width: 959px){
    .vp-card-container > a.vp-card {
        flex-basis: calc(33% - 3rem);

    }

    .vp-card-container > a.vp-card > img.vp-card-logo{
        border-radius: 0;
    }

    .vp-card-container > a.vp-card > div.vp-card-content > div.vp-card-desc{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // 调整顶部导航间距
    .vp-nav-item {
        margin: 0 1.25rem;
    }

    // 调整图像头像高度
    .vp-portfolio-avatar img {
        max-height: 94vh;
        height: 94vh;
    }
}


// 修改首页图标大小
#main-content > div.vp-project-panel > a.vp-project-card > .vp-project-icon {
    height: 1.6em;
}
